<form [formGroup]="internForm" (ngSubmit)="onSubmit()">
    <legend>Ajouter un stagiaire</legend>
    <fieldset>
        <div class="form-field">
            <input type="text" formControlName="lastname" placeholder="Votre nom">
            <div class="error-messages"
                *ngIf="internForm.controls['lastname'].errors && internForm.controls['lastname'].touched">
                <span *ngIf="internForm.controls['lastname'].hasError('minlength')">Le nombre de caractères est
                    insuffisant</span>
                <span *ngIf="internForm.controls['lastname'].hasError('required')">Le nom est obligatoire</span>
            </div>
        </div>
        <div class="form-field">
            <input type="text" formControlName="firstname" placeholder="Votre prénom">
            <div class="error-messages"
                *ngIf="internForm.controls['firstname'].hasError('required') && internForm.controls['firstname'].touched">
                Le prénom est obligatoire
            </div>
        </div>
    </fieldset>
    <legend>Choisir une POE</legend>
    <fieldset>
        <div class="form-field">
            <select name="poe-choice" id="poe-select">
                <option value="">Sélectionner une POE</option>
                <option value="poe-choice" *ngFor="let poe of poes">{{poe.label}}</option>
            </select>
            <div class="error-messages"
                *ngIf="poeForm.controls['label'].hasError('required') && poeForm.controls['label'].touched">
                Veuillez choisir une POE
            </div>
        </div>
    </fieldset>
    <div class="form-field">
        <button [disabled]="internForm.invalid" type="submit">Ajouter</button>
    </div>
</form>

<!-- on demande l'affichage des données saisies en format json -->
{{ internForm.value | json }}